
.banner .container {
    display: flex;
    height: 30%;
    width: 20%;
    flex-direction: column;
    margin-left: 30vh;
}
.texto{
    margin-left: 100px;
    margin-top: 400px;
    white-space: nowrap;
}
.banner{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 2.15%, rgba(42, 131, 107, 0.75) 54.38%, rgba(19, 107, 105, 0.75) 100%), url(../img/vaccineheartbrain_blog.jpg);
    background-size: cover;
    height: 634px;
}
.container h1{
    color: white;
    
}
.texto p{
    color: white;
    margin-top: 5px;
}

.botao{
    padding: 7px 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0;
    width: 200px;
    height: 46px;
    background-color: #D5E4CF;
    font-size: x-large;
    color: #025043;
    font-weight: 600;

}
.bloco1{
    display: flex;
    justify-content: left;
}
.bloco1 .container2{
    display: flex;
    background-color:#d5e4cf ;
    margin-top: 88px;
    margin-left: 610px;
    width: 1288px;
    height: 634px;
    padding: auto;
}
.bloco1 .container2 .box1{
    padding: 10vh 10px;
}
.bloco1 .container2 h1{
    color: black;
    white-space: nowrap;
}
