<<<<<<< HEAD
=======
body {
    margin: 0;
    padding: 0;

}

.header {
    background-color: rgb(215, 253, 215);
    height: 80px;
}

.container {
    display: flex;
    width: 80%;
    margin: 0;
}
.titulo {
    font-weight: 700;
    color: green;
    display: flex;
    margin-left: 20px;
    
}

.header .container {
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    list-style: none;
    width: 300px;
    justify-content: space-evenly;

}

.navbar li, .navbar a {
    color: green;
    text-decoration: none;
    margin-right: 10px;
}

.banner{
    background-image: url(../img/vaccineheartbrain_blog.jpg);
    background-size: cover;
    -webkit-mask-image: linear-gradient(#00ff005e, rgb(0, 0, 0));
    mask-image: linear-gradient(#0a5727, rgba(1, 253, 1, 0.418));
}
>>>>>>> 71a58a084b0d5a756773532619a364733accbf58

.banner .container {
    display: flex;
    height: 30%;
    width: 20%;
    flex-direction: column;
    margin-left: 30vh;
}
.texto{
    margin-left: 100px;
    margin-top: 400px;
    white-space: nowrap;
}
.banner{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 2.15%, rgba(42, 131, 107, 0.75) 54.38%, rgba(19, 107, 105, 0.75) 100%), url(../img/vaccineheartbrain_blog.jpg);
    background-size: cover;
    height: 634px;
}
.container h1{
    color: white;
    
}
.texto p{
    color: white;
    margin-top: 5px;
}

.botao{
    padding: 7px 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0;
    width: 200px;
    height: 46px;
    background-color: #D5E4CF;
    font-size: x-large;
    color: #025043;
    font-weight: 600;

}

