body {
    background-color: #D5E4CF;
}

.banner {
    display: flex;
    height: 85vh;
    background-image: url(../img/img-banner-vacina.png);
    background-size: cover;
}

.banner .container {
    height: 80%;
    margin-top: 5vh;
    margin-left: 25vh;
    margin-bottom: 25vh;
    margin-right: 25vh;
    color: #025043;
    padding: 0 1vh;
    border: #025043 solid 5px;
    background-color: #D5E4CF;
    border-radius: 5px;
}
.aba-esquerda-do-perfil {
    width: 350px;
    height: 400px;
    margin-right: 5px;

}




.aba-principal {
    margin: auto;
    padding-left: 5px;
    width: 100%;
    height: 500px;
    border-left: #025043 solid 3px;
}

.titulo-perfil {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.div-avatar {
    margin-top: 30px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    
}

.descricao {
    
    display: flex;
    justify-content: center;
    margin-left: 15%;
    
}

.div-avatar h4 {

    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;

}

.div-avatar p {
    font-weight: 300;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.avatar-icon {
    width: 150px;
}


.nome {
    display: flex;
    justify-content: center;
}

.endereco {
    display: flex;
    justify-content: center;
}

.numeroTel {
    display: flex;
    justify-content: center;
}



.nome .form1 {
    
    margin-left: 20px;
}

.nome #campo-a-preencher {
    margin-left: 10px;
}


.endereco #campo-a-preencher {
    margin-left: 10px;
}

.endereco .form2 {
    margin-left: 20px;
}

.numeroTel #campo-a-preencher {
    margin-left: 10px;
}

.numeroTel .form3 {
    margin-left: 20px;
}

.bio #campo-a-preencher {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.bio .form4 {
    margin-left: 20px;
    height: 200px;
}
.bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 200px;
    margin-left: 100px;
}



.icons img {
    width: 10%;
   
}

.icons {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.div-botao #botao-salvar {
    width: 20%;
    height: 35px;
    margin-top: 2%;
}

.div-botao {
    display: flex;
    justify-content: center;
}
