body{
    background-color: #F6FFF6;
}

.main{
    margin-top: 30px;
    height: 100%;
}

.main .container{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
}

.rightSide, .leftSide{
    width: 49%;
}

.boxGrafico{
    height: 100%;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    position: relative;
}

.headerGrafico{
    background-color: #04463B;
    padding: 15px;
    color: #F6FFF6;
    text-align: center;
}


.bodyGrafico, .bodyGraficoDiario{
    background-color: #fff;
    padding: 20px;
}

.qtdLotesTotal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-105%, -30%);
    font-size: 2.3rem;
    text-align: center;
}

.botoes{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.botao{
    text-align: center;
    background-color: #fff;
    padding: 2.5vw;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    color: #000;
}

.headerBotao{
    display: flex;
    flex-direction: row;
}

/* Código muito feio abaixo: */
.botaoVermelho{
    box-shadow: -7px 0 0 #F94144, 0 0 7px rgba(0,0,0,0.5);
}
.botaoVermelho h3{
    color: #F94144;
}
.botaoVermelho:hover{
    background-color: #F94144;
    color: #FFF;
}
.botaoVermelho:hover h3{
    color: #FFF;
}
.botaoAmarelo{
    box-shadow: -7px 0 0 #F9C74F, 0 0 7px rgba(0,0,0,0.5);
}
.botaoAmarelo h3{
    color: #F9C74F;
}
.botaoAmarelo:hover{
    background-color: #F9C74F;
    color: #FFF;
}
.botaoAmarelo:hover h3{
    color: #FFF;
}
.botaoVerde{
    box-shadow: -7px 0 0 #90BE6D, 0 0 7px rgba(0,0,0,0.5);
}
.botaoVerde h3{
    color: #90BE6D;
}
.botaoVerde:hover{
    background-color: #90BE6D;
    color: #FFF;
}
.botaoVerde:hover h3{
    color: #FFF;
}
