body{
    background-color: #F6FFF6;
}

.main{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: flex-start;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* SIDEBAR */
.main .sidebar .container{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

.menu, .filtros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: flex-start;
}

.Icon{
    filter: invert(11%) sepia(46%) saturate(7005%) hue-rotate(166deg) brightness(98%) contrast(98%);
    margin-left: 3rem;
    cursor: pointer;
}

.subIcon{
    filter: invert(43%) sepia(29%) saturate(838%) hue-rotate(113deg) brightness(94%) contrast(88%);
    cursor: pointer;
    margin-left: 1.7rem;
}

.menu button, .filtros button{
    border: none;
    background: none;
    padding: 8px 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btnTitulo{
    color: #025043;
    font-size: 1.5rem;
    font-weight: 700;
}

.btnTitulo:hover{
    color: #2A836B;
}

.btnsubTexto{
    color: #2A836B;
    font-size: 0.7rem;
    margin-left: 5px;
}

.btnTexto{
    color: #2A836B;
}

.btnTexto:hover, .btnsubTexto:hover{
    color: #3bcda6;
}

/* CARGAS */
.main .cargas{
    width: 80%;
}

.main .cargas .container{
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
}

.carga{
    margin-right: 60px;
    width: 100%;
    margin-top: 20px;
}

.headerCarga{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #9DCC9B;
    justify-content: space-between;
    align-items: center;
}

.numLote{
    margin-left: 20px;
    color: #025043;
}

.backgroundCaminhao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #025043;
    width: 50px;
    height: 100%;
    justify-self: flex-end;
}

.bodyCarga{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #D5E4CF;
    align-items: center;
    justify-content: center;
}

