body {
    background-color: #D5E4CF;
}

.banner {
    display: flex;
    justify-content: left;
    height: 85vh;
    background-image: url(../img/banner\ novo.png);
    background-size: cover;
}
.banner .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    width: 100vh;
    margin-top: 35vh;
    margin-left: 3vh;
    border-radius: 5px;
    color: #ffffff;
    padding: 0 1vh;
}
.banner .container button{
    margin-top: 3vh;
    margin-right: 68vh;
    height: 7vh;
    width: 30vh;
    font-size: x-large;
    background-color: #d5e4cf;
    color:#025043;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
}
.banner .container p{
    padding: 0 1vh;
}
.secao2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5e4cf;
    height: 110vh;
}
.secao2 .container{
    margin-top: 0vh;
}
.secao2 .container .texto{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 90vh;
    letter-spacing: 1px;
}
.secao2 .container .texto p{
    margin-top: 2vh;
    font-size: 3vh;
}
.secao2 .container .card{
    margin-left: 1px;
    border-left: 2px solid black;
    margin-right: 2vh;
}

/* SEÇÃO 3 */

.secao3 {

    display: flex;
    flex-direction: column;
    height: 115vh;
    align-items: center;
    background-image: url(../img/secao-3.png);
    background-position: bottom;
    background-size: cover;
    margin-bottom: 50px;

}

.secao3 .titulo {

    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    background-color: #2A836B;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.secao3 .container {
    justify-content: center;
    align-items: center;
}


.secao3 .simulador {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    color: white;
}

#container_simulador {
    height: 85%;
}

.inputs {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    font-weight: 500;
}


.input_simulador {
    height: 25px;
    padding: 0px 10px;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
}

#div_resultado_simulador {
    display: flex;
    flex-direction: column;
    width: 78%;
    height: 180px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    border-radius: 4px;
    background-color: #2A836B;
}

#div_resultado_simulador p {
    font-size: 1.2rem;
    color: #ecf8e8;
}

#button_simulador {
    width: 150px;
    padding: 10px 20px;
    background-color: #2A836B;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
}

/* SEÇÃO 4 */

.secao4 {
    display: flex;
    height: 80vh;
    justify-content: center;
    margin-bottom: 8%;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao4 .img {
    width: 45%;
    border-right: 2px solid black;
}

.secao4 .img img {
    width: 35vw;
    height: fit-content;
}

.secao4 .texto {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 15px;
    margin-left: 5%;
}

.secao4 h3, .secao5  h3 {
    font-size: 1.8rem;
}

/* SEÇÃO 5 */

.secao5 {
    display: flex;
    justify-content: center;
    height: 95vh;
    background-color: #6EB47D;
    margin-bottom: 8%;
}

.secao5 .container {
    justify-content: center;
}

.secao5 .texto {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 30%;
    padding: 30px 40px;
    background-color: #D5E4CF;
}

.secao5 .texto p {
    width: 80%;
}

#button_nossa_historia {
    width: 60%;
    padding: 15px 10px;
    color: white;
    background-color: #136B69;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.secao5 .img {
    display: flex;
}

.secao5 img {
    width: 44vw;
}