* {
    margin: 0;
    padding: 0;
    font-family: Segoe UI;

}

/* HEADER */

.header1 {
    display: flex;
    justify-content: center;
    height: 5vh;
    background-color: black;
}

.header1 .container{
    justify-content: end;
}

.header1 .links {
    display: flex;
    gap: 18px;
}

.header1 .divisoria {
    padding-right: 20px;
}

.header1 a{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: #d5e4cf;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
}

.header2 .container img {
    height: 40%;
}

.header2 .links {
    display: flex;
    height: 100%;
    align-items: center;
}

.header2 .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #025043;
}

.header2 a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #025043;
}


/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
}

.footer1 {
    display: flex;
    height: 40vh;
    padding: 20px;
    background-color: #136B69;
}

.divisoria {
    width: 50%;
    height: 80%;
    border-right: 1px solid white;
}

.footer2 {
    display: flex;
    height: 7vh;
    justify-content: center;
    align-items: center;
    background-color: #04514F;
}

.footer2 {
    color: white;
}

.footer2 .container {
    justify-content: center;
}

.footer2 a {
    color: white;
    text-decoration: none;
}